@charset "UTF-8";
/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

li {
  list-style-type: none;
}

html {
  overflow-y: scroll;
}

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
}

* {
  word-wrap: break-word;
}

body {
  background: #fff;
  color: #333;
  font-family: 'Lucida Grande', 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.5;
}

p, li, dt, dd {
  line-height: 1.5;
}

input, textarea {
  font-family: 'Lucida Grande', 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
}

* html input, * html textarea {
  font-family: "ＭＳ Ｐゴシック", "MS PGothic", Osaka;
}

a {
  color: #333;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
a:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}

/* header
-------------------------------*/
.l-header {
  border-top: 5px solid #FF8600;
}
.l-header h1 {
  float: left;
  width: 287px;
  margin: 0 33px 0 0;
}
.l-header h1 a {
  text-decoration: none;
}
@media (max-width: 767px) {
  .l-header h1 {
    float: none;
    width: auto;
    margin: 0 0 15px;
    text-align: center;
  }
}

.l-headerInner {
  width: 980px;
  margin: 0 auto;
  padding: 30px 0;
  overflow: hidden;
}
@media (max-width: 767px) {
  .l-headerInner {
    width: auto;
    padding: 15px 0;
  }
}

.l-gNav {
  float: left;
}
.l-gNav li {
  float: left;
  width: 127px;
  margin: 0 0 0 5px;
}
.l-gNav li a {
  display: block;
  padding: 10px 0;
  text-align: center;
  color: #333;
  background: #eee;
  text-decoration: none;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.l-gNav li a:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
.l-gNav li a.cu {
  background: #ccc;
}
@media (max-width: 767px) {
  .l-gNav {
    float: none;
  }
  .l-gNav li {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 33%;
    margin: 0;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
  }
  .l-gNav li:nth-of-type(3n) {
    width: 34%;
    border-right: none;
  }
  .l-gNav li:nth-of-type(4n) {
    width: 50%;
  }
  .l-gNav li:nth-of-type(5n) {
    width: 50%;
    border-right: none;
  }
}

/* contents
-------------------------------*/
.l-contents {
  width: 980px;
  margin: 0 auto 30px;
  overflow: hidden;
  *zoom: 1;
}

@media (max-width: 767px) {
  .l-contents {
    width: auto;
    padding: 1px 15px;
  }
}
.l-main {
  float: left;
  width: 700px;
}

@media (max-width: 767px) {
  .l-main {
    float: none;
    width: 100%;
    margin: 0 0 25px;
  }
}
.l-sub {
  float: right;
  width: 250px;
}
.l-sub ul {
  list-style-type: none;
  padding-left: 0;
}
@media (max-width: 767px) {
  .l-sub {
    float: none;
    width: 100%;
  }
}

.l-bnr li {
  margin: 0 0 5px;
}
@media (max-width: 767px) {
  .l-bnr li {
    text-align: center;
  }
  .l-bnr li img {
    max-width: 100%;
  }
}

.pageTitle {
  padding: 30px 0;
  font-size: 24px;
  font-weight: normal;
}

.l-sub-directory {
  margin: 86px 0 30px;
}
.l-sub-directory a {
  position: relative;
  display: block;
  margin: 0 0 2px;
  padding: 10px;
  text-decoration: none;
  color: #333;
  background: #eee;
}
.l-sub-directory a:before {
  content: "";
  position: absolute;
  top: 40%;
  right: 15px;
  border-top: 2px solid #333;
  border-right: 2px solid #333;
  width: 5px;
  height: 5px;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.bread {
  overflow: hidden;
  width: 980px;
  margin: 0 auto;
  padding: 5px;
  border-top: 1px dotted #ccc;
  border-bottom: 1px dotted #ccc;
}
.bread li {
  position: relative;
  display: inline;
  padding: 0 20px 0 0;
  font-size: 12px;
  line-height: 1;
}
.bread li a:after {
  content: ">";
  position: absolute;
  top: .2em;
  right: 0;
}
.bread a {
  text-decoration: none;
  color: #666;
}

.pagetop {
  text-align: right;
}
.pagetop a {
  position: relative;
  padding: 0 0 0 20px;
  text-decoration: none;
  font-size: 12px;
}
.pagetop a:before {
  content: "";
  position: absolute;
  top: 40%;
  left: 0;
  border-top: 2px solid #333;
  border-right: 2px solid #333;
  width: 5px;
  height: 5px;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* footer
-------------------------------*/
.l-footer {
  padding: 30px 0;
  background: #eee;
  color: #000;
}
.l-footer .cr {
  font-size: 12px;
  color: #333;
}
@media (max-width: 767px) {
  .l-footer {
    padding: 15px 0;
  }
}

.l-footerInner {
  width: 980px;
  margin: 0 auto;
}
.l-footerInner .cr {
  clear: both;
  text-align: right;
}
@media (max-width: 767px) {
  .l-footerInner {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 0 15px;
  }
  .l-footerInner .cr {
    text-align: center;
  }
}

.footerNav {
  margin: 0 0 15px;
}
.footerNav a {
  text-decoration: none;
  color: #333;
}
.footerNav li {
  display: inline;
  padding: 0 15px 0 0;
  font-size: 12px;
}

/* TOP
------------------------------------------*/
.mainVisual {
  width: 980px;
  margin: 0 auto 30px;
}
@media (max-width: 480px) {
  .mainVisual {
    width: 100%;
    margin: 0 auto 15px;
  }
  .mainVisual img {
    width: 100%;
    vertical-align: bottom;
  }
}

.newslist {
  margin: 0 0 20px;
}
.newslist .newslist-title {
  margin: 0 0 5px;
  font-size: 24px;
  font-weight: normal;
}

.newslist-text {
  margin: 0 0 10px;
}
.newslist-text li {
  overflow: hidden;
}
.newslist-text a {
  display: block;
  padding: 10px 0 5px;
  border-bottom: 1px dotted #ccc;
  text-decoration: none;
  color: #333;
}
.newslist-text .date {
  display: block;
  float: left;
  padding: 0 10px 0 0;
}
.newslist-text .text {
  display: block;
  padding: 0 0 5px 7em;
}
@media (max-width: 480px) {
  .newslist-text .text {
    clear: both;
    padding: 0 0 5px;
  }
}

.newslist-more {
  text-align: right;
}
.newslist-more a {
  position: relative;
  padding: 0 15px 0 0;
  text-decoration: none;
  font-size: 12px;
}
.newslist-more a:before {
  content: "";
  position: absolute;
  top: 35%;
  right: 0;
  border-top: 2px solid #333;
  border-right: 2px solid #333;
  width: 5px;
  height: 5px;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* RECRUIT
------------------------------------------*/
.recruit {
  margin: 0 0 40px;
}
.recruit dl {
  margin-top: -10px;
  border-top: 1px dotted #666;
}
.recruit dt {
  clear: both;
  float: left;
  width: 10em;
  padding: 15px 1em 15px 0;
  text-align: right;
  background: #eee;
  font-weight: bold;
}
.recruit dd {
  padding: 15px 0 15px 12em;
  border-bottom: 1px dotted #666;
}
