@charset "UTF-8";
/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

li {
  list-style-type: none;
}

html {
  overflow-y: scroll;
}

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
}

* {
  word-wrap: break-word;
}

body {
  background: #fff;
  color: #333;
  font-family: 'Lucida Grande', 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.5;
}

p, li, dt, dd {
  line-height: 1.5;
}

input, textarea {
  font-family: 'Lucida Grande', 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
}

* html input, * html textarea {
  font-family: "ＭＳ Ｐゴシック", "MS PGothic", Osaka;
}

a {
  color: #0093FF;
}

/* header
-------------------------------*/
.l-header {
  border-top: 5px solid #FF8600;
}
.l-header h1 {
  float: left;
  width: 287px;
  margin: 0 33px 0 0;
}
.l-header h1 a {
  text-decoration: none;
}

.l-headerInner {
  width: 980px;
  margin: 0 auto;
  padding: 30px 0;
  overflow: hidden;
}

@media (max-width: 768px) {
  .l-headerInner {
    text-align: center;
    width: auto;
  }
}
.l-gNav {
  float: left;
}
.l-gNav li {
  float: left;
  width: 127px;
  margin: 0 0 0 5px;
}
.l-gNav li a {
  display: block;
  padding: 10px 0;
  text-align: center;
  color: #333;
  background: #eee;
  text-decoration: none;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.l-gNav li a:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}

/* contents
-------------------------------*/
.l-contents {
  width: 980px;
  margin: 0 auto 30px;
  overflow: hidden;
  *zoom: 1;
}

@media (max-width: 768px) {
  .l-contents {
    width: auto;
    padding: 1px 15px;
  }
}
.l-main {
  float: right;
  width: 710px;
}

@media (max-width: 768px) {
  .l-main {
    float: none;
    width: 100%;
    margin: 0 0 25px;
  }
}
.l-sub {
  float: left;
  width: 250px;
}
.l-sub ul {
  list-style-type: none;
  padding-left: 0;
}

@media (max-width: 768px) {
  .l-sub {
    float: none;
    width: 100%;
  }
}
.l-bnr li {
  maRgin: 0 0 5px;
}

/* footer
-------------------------------*/
.l-footer {
  padding: 30px 0;
  background: #eee;
  color: #000;
}
.l-footer .cr {
  font-size: 12px;
  color: #333;
}

.l-footerInner {
  width: 980px;
  margin: 0 auto;
}
.l-footerInner .cr {
  text-align: right;
}

@media (max-width: 768px) {
  .l-footerInner {
    width: auto;
    text-align: right;
  }
}
/* TOP
------------------------------------------*/
.mainVisual {
  width: 980px;
  height: 300px;
  margin: 0 auto 30px;
  background: #eee;
}

.newslist {
  margin: 0 0 20px;
}
.newslist .newslist-title {
  margin: 0 0 5px;
  font-size: 24px;
  font-weight: normal;
}
.newslist .newslist-text li {
  overflow: hidden;
  padding: 0 0 10px;
}
.newslist .newslist-text a {
  text-decoration: none;
  color: #333;
}
.newslist .newslist-text .date {
  display: block;
  float: left;
  padding: 0 10px 0 0;
}
.newslist .newslist-text .text {
  display: block;
  padding: 0 0 0 7em;
}
.newslist .newslist-more {
  text-align: right;
}
