//h3（左側が太いborder、下が細いborder）
//例）
//.pageTitleH3 {
//	@include pageTitleH3(#22ab39);
//}

@mixin pageTitleH3($color) {
  border-top:2px solid #{$color};
  border-bottom:4px solid #{$color};
  margin:0 0 15px;
  padding:10px 0;
}

@mixin tabContentsBorder($color) {
  border:2px solid #{$color};
  margin:0 0 15px;
  padding:10px 0;
}

@mixin linkArrowR($rotateNum) {
  content:"";
  position:absolute;
  top:40%;
  right:10px;
  border-top:2px solid #333;
  border-right:2px solid #333;
  width:5px;
  height:5px;
  @include rotate(#{$rotateNum}deg);
}
@mixin linkArrowL($rotateNum) {
  content:"";
  position:absolute;
  top:40%;
  left:0;
  border-top:2px solid #333;
  border-right:2px solid #333;
  width:5px;
  height:5px;
  @include rotate(#{$rotateNum}deg);
}