$break-small:768px;
$break-medium:900px;

/* header
-------------------------------*/
.l-header {
  border-top:5px solid #FF8600;
  h1 {
    float:left;
    width:287px;
    margin:0 33px 0 0;
    a {
      text-decoration:none;
    }
  }
}
@media(max-width:$break-small) {
  .l-header {
    h1 {
    }
  }
}
.l-headerInner {
  width:980px;
  margin:0 auto;
  padding:30px 0;
  overflow:hidden;
}
@media(max-width:$break-small) {
  .l-headerInner {
    text-align:center;
    width:auto;
  }
}
.l-gNav {
  float:left;
  li {
    float:left;
    width:127px; //660
    margin:0 0 0 5px;
    a {
      display:block;
      padding:10px 0;
      text-align:center;
      color:#333;
      background:#eee;
      text-decoration:none;
      @include transition-property(opacity);
      @include transition-duration(.5s);
      &:hover {
        @include opacity(.6);
      }
      &.cu {
        background:#ccc;
      }
    }
  }
}

/* contents
-------------------------------*/
.l-contents {
  width:980px;
  margin:0 auto 30px;
  overflow:hidden;
  *zoom:1;
}
@media(max-width:$break-small) {
  .l-contents {
    width:auto;
    padding:1px 15px;
  }
}
.l-main {
  float:left;
  width:700px;
}
@media(max-width:$break-small) {
  .l-main {
    float:none;
    width:100%;
    margin:0 0 25px;
  }
}
.l-sub {
  float:right;
  width:250px;
  ul {
    list-style-type:none;
    padding-left:0;
  }
}
@media(max-width:$break-small) {
.l-sub {
    float:none;
    width:100%;
  }
}
.l-bnr {
  li {
    maRgin:0 0 5px;
  }
}
.pageTitle {
  padding:30px 0;
  font-size:24px;
  font-weight:normal;
}
.l-sub-directory {
  margin:86px 0 30px;
  a {
    position:relative;
    display:block;
    margin:0 0 2px;
    padding:10px;
    text-decoration:none;
    color:#333;
    background:#eee;
    &:before {
      content:"";
      position:absolute;
      top:40%;
      right:15px;
      border-top:2px solid #333;
      border-right:2px solid #333;
      width:5px;
      height:5px;
      @include rotate(45deg);
    }
  }
}
.bread {
  overflow:hidden;
  padding:5px 0;
  border-top:1px dotted #ccc;
  border-bottom:1px dotted #ccc;
  li {
    position:relative;
    display:inline;
    padding:0 20px 0 0;
    font-size:12px;
    line-height:1;
    a:after {
      content:">";
      position:absolute;
      top:.2em;
      right:0;
    }
  }
  a {
    text-decoration:none;
    color:#666;
  }
}
.pagetop {
  text-align:right;
  a {
    position:relative;
    padding:0 0 0 20px;
    text-decoration:none;
    font-size:12px;
    &:before {
      content:"";
      position:absolute;
      top:40%;
      left:0;
      border-top:2px solid #333;
      border-right:2px solid #333;
      width:5px;
      height:5px;
      @include rotate(-45deg);
    }
  }
}

/* footer
-------------------------------*/
.l-footer {
  padding:30px 0;
  background:#eee;
  color:#000;
  .cr {
    font-size:12px;
    color:#333;
  }
}
.l-footerInner {
  width:980px;
  margin:0 auto;
  .cr {
    clear:both;
    text-align:right;
  }
}
@media(max-width:$break-small) {
  .l-footerInner {
    width:auto;
    text-align:right;
  }
}
.footerNav {
  a {
    text-decoration:none;
    color:#333;
  }
  ul {
    margin:0 0 15px;
  }
  li {
    display:inline;
    padding:0 15px 0 0;
    font-size:12px;
  }
}

