$break-small:768px;
$break-medium:900px;

/* header
-------------------------------*/
.l-header {
  border-top:5px solid #FF8600;
  h1 {
    float:left;
    width:287px;
    margin:0 33px 0 0;
    a {
      text-decoration:none;
    }
  }
}
@media(max-width:$break-small) {
  .l-header {
    h1 {
    }
  }
}
.l-headerInner {
  width:980px;
  margin:0 auto;
  padding:30px 0;
  overflow:hidden;
}
@media(max-width:$break-small) {
  .l-headerInner {
    text-align:center;
    width:auto;
  }
}
.l-gNav {
  float:left;
  li {
    float:left;
    width:127px; //660
    margin:0 0 0 5px;
    a {
      display:block;
      padding:10px 0;
      text-align:center;
      color:#333;
      background:#eee;
      text-decoration:none;
      @include transition-property(opacity);
      @include transition-duration(.5s);
      &:hover {
        @include opacity(.6);
      }
    }
  }
}

/* contents
-------------------------------*/
.l-contents {
  width:980px;
  margin:0 auto 30px;
  overflow:hidden;
  *zoom:1;
}
@media(max-width:$break-small) {
  .l-contents {
    width:auto;
    padding:1px 15px;
  }
}
.l-main {
  float:right;
  width:710px;
}
@media(max-width:$break-small) {
  .l-main {
    float:none;
    width:100%;
    margin:0 0 25px;
  }
}
.l-sub {
  float:left;
  width:250px;
  ul {
    list-style-type:none;
    padding-left:0;
  }
}
@media(max-width:$break-small) {
.l-sub {
    float:none;
    width:100%;
  }
}
.l-bnr {
  li {
    maRgin:0 0 5px;
  }
}

/* footer
-------------------------------*/
.l-footer {
  padding:30px 0;
  background:#eee;
  color:#000;
  .cr {
    font-size:12px;
    color:#333;
  }
}
.l-footerInner {
  width:980px;
  margin:0 auto;
  .cr {
    text-align:right;
  }
}
@media(max-width:$break-small) {
  .l-footerInner {
    width:auto;
    text-align:right;
  }
}