
/* header
-------------------------------*/
.l-header {
  border-top:5px solid #FF8600;
  h1 {
    float:left;
    width:287px;
    margin:0 33px 0 0;
    a {
      text-decoration:none;
    }
  }
  @media(max-width:$break-medium) {
    h1 {
      float:none;
      width:auto;
      margin:0 0 15px;
      text-align:center;
    }
  }
  @media(max-width:$break-small) {
    h1 {
      img {
        max-width:80%;
      }
    }
  }
}
.l-headerInner {
  width:980px;
  margin:0 auto;
  padding:30px 0;
  overflow:hidden;
  @media(max-width:$break-medium) {
    width:auto;
    padding:15px 0;
  }
}
.l-gNav {
  float:left;
  li {
    float:left;
    width:127px; //660
    margin:0 0 0 5px;
    a {
      display:block;
      padding:10px 0;
      text-align:center;
      color:#333;
      background:#eee;
      text-decoration:none;
      @include transition-property(opacity);
      @include transition-duration(.5s);
      &:hover {
        @include opacity(.6);
      }
      &.cu {
        background:#ccc;
      }
    }
  }
  @media(max-width:$break-medium) {
    float:none;
    li {
      @include box-sizing(border-box);
      width:33%;
      margin:0;
      border-right:1px solid #fff;
      border-bottom:1px solid #fff;
      &:nth-of-type(3n) {
        width:34%;
        border-right:none;
      }
      &:nth-of-type(4n) {
        width:50%;
      }
      &:nth-of-type(5n) {
        width:50%;
        border-right:none;
      }
    }
  }
}

/* contents
-------------------------------*/
.l-contents {
  width:980px;
  margin:0 auto 30px;
  overflow:hidden;
  *zoom:1;
  @media(max-width:$break-medium) {
    width:auto;
  }
}
.l-main {
  float:left;
  width:700px;
  @media(max-width:$break-medium) {
    float:none;
    width:100%;
    margin:0 0 25px;
  }
}
.l-sub {
  float:right;
  width:250px;
  ul {
    list-style-type:none;
    padding-left:0;
  }
  @media(max-width:$break-medium) {
    float:none;
    width:100%;
  }
}
.l-bnr {
  li {
    margin:0 0 5px;
  }
  @media(max-width:$break-medium) {
    li {
      text-align:center;
      img {
        max-width:100%;
      }
    }
  }
}
.pageTitle {
  padding:30px 0;
  font-size:24px;
  font-weight:normal;
  @media(max-width:$break-medium) {
    padding:15px 0;
  }
}
.pageSubTitle {
  padding:0 0 20px;
  font-size:20px;
  font-weight:normal;

}
.l-sub-directory {
  margin:86px 0 30px;
  a {
    position:relative;
    display:block;
    margin:0 0 2px;
    padding:10px;
    text-decoration:none;
    color:#333;
    background:#eee;
    &:before {
      @include linkArrowR(45);
    }
  }
  .cu {
    a {
      background:#ccc;
    }
  }
  @media(max-width:$break-medium) {
    margin:0 0 30px;
  }
}
.bread {
  overflow:hidden;
  width:970px;
  margin:0 auto;
  padding:5px ;
  border-top:1px dotted #ccc;
  border-bottom:1px dotted #ccc;
  li {
    position:relative;
    display:inline;
    padding:0 20px 0 0;
    font-size:12px;
    line-height:1;
    a:after {
      content:">";
      position:absolute;
      top:.2em;
      right:0;
    }
  }
  a {
    text-decoration:none;
    color:#666;
  }
  @media(max-width:$break-medium) {
    width:auto;
    li {
      &:last-of-type {
        padding:0;
      }
    }
  }
}
.pagetop {
  text-align:right;
  a {
    position:relative;
    padding:0 0 0 15px;
    text-decoration:none;
    font-size:12px;
    &:before {
      @include linkArrowL(-45);
    }
  }
  @media(max-width:$break-medium) {
    padding:0 10px 0 0;
  }
}
.dlList {
  margin:0 0 40px;
  dl {
    margin-top:-10px;
    border-top:1px dotted #666;
    background:url(../img/common/bg-dt.png) repeat-y left top;
  }
  dt {
    clear:both;
    float:left;
    width:155px;
    padding:15px 15px 15px 0;
    text-align:right;
    background:#eee;
    font-weight:bold;
  }
  dd {
    padding:15px 0 15px 185px;
    border-bottom:1px dotted #666;
  }
  @media(max-width:$break-medium) {
    margin:0 0 10px;
    dt {
      float:none;
      width:auto;
      padding:10px;
      text-align:left;
    }
    dd {
      padding:10px;
    }
  }
}

/* footer
-------------------------------*/
.l-footer {
  padding:30px 0;
  background:#eee;
  color:#000;
  .cr {
    font-size:12px;
    color:#333;
  }
  @media(max-width:$break-medium) {
    padding:15px 0;
  }
}
.l-footerInner {
  width:980px;
  margin:0 auto;
  .cr {
    clear:both;
    text-align:right;
  }
  @media(max-width:$break-medium) {
    @include box-sizing(border-box);
    width:100%;
    padding:0 15px;
    .cr {
      text-align:center;
    }
  }
}
.footerNav {
  margin:0 0 15px;
  a {
    text-decoration:none;
    color:#333;
  }
  li {
    display:inline;
    padding:0 15px 0 0;
    font-size:12px;
  }
  @media(max-width:$break-medium) {
    li {
      font-size:14px;
    }
  }
}

