/* COMPANY
------------------------------------------*/

.company {
  @media(max-width:$break-medium) {
    padding:0 10px;
  }
}
.greeting {
  p {
    margin:0 0 15px;
  }
  .ph {
    float:left;
    width:220px;
    margin:0 20px 20px 0;
  }
  @media(max-width:$break-small) {
    .ph {
      float:none;
      margin:0 auto 20px;
    }
  }
}
.presidentName {
  font-weight:bold;
}
.privacy {
  section {
    margin:0 0 20px;
    h4 {
      margin:0 0 5px;
      padding:0 0 5px;
      font-size:16px;
      font-weight:normal;
      border-bottom:1px solid #FFB797;
    }
    ol {
      margin:0 0 15px 2em;
      li {
        padding:0 0 5px 0;
        list-style-type:decimal;
        list-style-position:outside;
      }
    }
    ul {
      margin:0 0 15px 2em;
      li {
        padding:0 0 5px 0;
        list-style-type:disc;
        list-style-position:outside;
      }
    }
    p {
      padding:0 0 15px;
    }
    address {
      padding:15px;
      background:#eee;
    }
  }
  .lead {
    padding:15px 15px 0;
    border:1px solid #FFB797;
    h4 {
      border:none;
    }
  }
}
.companyGroup {
  h4 {
    padding:0 0 20px;
    font-weight:normal;
    font-size:16px;
  }
  dl {
    margin:0 0 30px;
  }
  @media(max-width:$break-medium) {
    .pageTitle {
      padding-left:10px;
    }
    .pageSubTitle {
      padding-left:10px;
    }
    h4 {
      padding-left:10px;
    }
  }
}
.companyAbout {
  @media(max-width:$break-medium) {
    .pageTitle {
      padding-left:10px;
    }
    .pageSubTitle {
      padding-left:10px;
    }
  }
}