/* NEWS
------------------------------------------*/

.news {
  @media(max-width:$break-medium) {
      padding:0 10px;
  }
}
.newsDetail {
  p {
    padding:0 0 15px;
  }
  @media(max-width:$break-medium) {
      padding:0 10px;
  }
}
.newsDetail-date {
  display:block;
  padding:0 0 10px;
  text-align:right;
}