/* SERVICE
------------------------------------------*/

//.pageTitleH3 {
//  @include pageTitleH3(#22ab39);
//}

.service-index {
  p {
    padding:0 0 15px;
  }
}
.software {
  li {
    padding:0 0 20px;
    font-size:16px;
  }
  span {
    font-size:12px;
  }
}