/* NEWS
------------------------------------------*/

.sitemap {
  overflow:hidden;
  zoom:1;
  margin-right:-20px;
  h3 {
    a {
      display:block;
      position:relative;
      margin:0 0 10px;
      padding:10px;
      border:1px solid #FFB797;
      text-decoration:none;
      &:after {
        @include linkArrowR(45);
      }
    }
  }
  li {
    list-style-type:disc;
    list-style-position:outside;
    margin:0 0 0 2em;
  }
  section {
    float:left;
    width:340px;
    margin:0 20px 15px 0;
  }
  @media(max-width:$break-medium) {
    margin-right:0;
    .pageTitle {
      padding-left:10px;
    }
    section {
      @include box-sizing(border-box);
      float:none;
      width:auto;
      margin:0 10px 10px;
    }
  }
}