/* TOP
------------------------------------------*/

//.pageTitleH3 {
//  @include pageTitleH3(#22ab39);
//}

.mainVisual {
  position:relative;
  width:980px;
  margin:0 auto 30px;
  @media(max-width:$break-medium) {
    width:100%;
    margin:0 auto 15px;
    #banner {
      ul {
        width:100%;
        height:225px;
        li {
          width:100%;
        }
      }
      img {
        width:100%;
        vertical-align:bottom;
      }
    }
  }
}
#banner {
  margin:0 0 15px;
  ul {
    position:relative;
    overflow:hidden;
    width:980px;
    height:300px;
    li {
      float:left;
      width:980px;
      position:absolute;
      a:hover {
        @include opacity(1);
      }
    }
  }
}
#btn-prev {
  position:absolute;
  top:50%;
  left:0;
  margin-top:-10px;
}
#btn-next {
  position:absolute;
  top:50%;
  right:0;
  margin-top:-10px;
}
#pagenation {
  text-align:center;
  li {
    display:inline;
    background:url(../img/top/icon-pager.png) no-repeat left top;
    padding:0 10px 0 0;
    &.active {
      background:url(../img/top/icon-pager-cu.png) no-repeat left top;
    }
    &:last-of-type {
      padding:0;
    }
  }
}
.newslist {
  margin:0 0 20px;
  .newslist-title {
    margin:0 0 5px;
    font-size:24px;
    font-weight:normal;
  }
  @media(max-width:$break-medium) {
    margin:0 10px 20px;
  }
}
.newslist-text {
  margin:0 0 10px;
  li {
    overflow:hidden;
  }
  a {
    display:block;
    padding:10px 0 5px;
    border-bottom:1px dotted #ccc;
    text-decoration:none;
    color:#333;
  }
  .date {
    display:block;
    float:left;
    padding:0 10px 0 0;
  }
  .text {
    display:block;
    padding:0 0 5px 7em;
  }
  @media(max-width:$break-small) {
    .date {
      
    }
    .text {
      clear:both;
      padding:0 0 5px;
    }
  }
}
.newslist-more {
  text-align:right;
  a {
    position:relative;
    padding:0 15px 0 0;
    text-decoration:none;
    font-size:12px;
    &:before {
      content:"";
      position:absolute;
      top:35%;
      right:0;
      border-top:2px solid #333;
      border-right:2px solid #333;
      width:5px;
      height:5px;
      @include rotate(45deg);
    }
  }
}